@font-face {
  font-family: "moderniz";
  src: url("./fonts/Moderniz.otf") format ('otf');
}

@font-face {
  font-family: "montnorm";
  src: url("./fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'montbold';
  src: url("./fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'montblack';
  src: url("./fonts/Montserrat-Black.ttf") format('truetype');
}

@font-face {
  font-family: 'montmedium';
  src: url("./fonts/Montserrat-Medium.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: inherit;
}


body {
  background: #d1d1d8fb;
  width: 100%;
  overflow-x: hidden; /* Évite les barres de scroll horizontales */
  margin: 0;
  padding: 0;
}

.haut {
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'montnorm', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4vw;
    align-items: center;
    margin-top: 7vw;
    margin-bottom: 3vw;
}

.Titre {
    display: flex;
    color: #390BD5;
    font-family: "montblack";
    align-items: center;
    gap: 4vw;
    justify-content: center;
    font-size: 2vw;
}

.Titre div {
    background: #390BD5;
    width: 25vw;
    height: 0.8vw;
    border-radius: 2vw;
}

.boutons {
    align-content: center;
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: -1vw;
    flex-wrap: wrap;

}

.mandat {
    display: flex;
    justify-content: center;
    background: #d1d1d8fb;
    color: #390BD5;
    font-family: "montbold";
    font-weight: 10;
    padding: 1vw 1vw;
    border-radius: 3vw;
    font-size: 1.5vw;
    width: 17vw;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.507);
    transition: 0.3s;
}

.mandat:hover {
    cursor: pointer;
    scale: 1.2;
    background: #9494F3;
    color: white;
}

.active-button {
    scale: 1.2;
    background: #9494F3;
    color: white;
}


/* EQUIPE DIRIGEANTE  */

.equipe-dirigeante {
    margin-top: 2vw;
}

.equipe-dirigeante .entete {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
}

.equipe-dirigeante .entete div{
    background: #390BD5;
    width: 0.7vw;
    height: 5vw;
}

.bureau {
    background-image: linear-gradient(#d1d1d8fb, #a1a1ccfb);
    padding-bottom: 3vw;
}

.bureau .entete {
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.card {
    display: flex;
    flex-direction: column;
    background: #b1b1d8;
    width: 17vw;
    border-radius: 2vw;
    padding: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 15vw;
    height: auto;
}

.elements {
    align-content: center;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    margin-left: 5vw;
    flex-wrap: wrap;

}

.activite {
    margin-top: 3vw;
}

.activite .entete {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
}

.activite .entete div {
     background: #390BD5;
    width: 0.7vw;
    height: 5vw;
}

.eortasmos .entete {
    display: flex;
    gap: 2vw;
    justify-content: center;
    color: #390BD5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    align-items: center;
}

.eortasmos .entete div {
    background: #390BD5;
    width: 20vw;
    height: 0.5vw;
    border-radius: 2vw;
}

.eortasmos .pre-entete {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    align-items: center;
    gap: 0vw
}

.eortasmos .pre-entete p {
    margin-top: -2vw;
    text-align: center;
    padding: 0 20px;
}

.image-box {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 4vw;
}

.carte {
    display: flex;
    justify-content: center;
}


.carte img {
    height: 60vh;        
    width: 100%;
    /* object-fit: cover; */
    object-fit: contain;
    transition: all 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.image-box img:hover {
    transform: translateY(-15px);
}

.boite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-countainer {
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    overflow: hidden;
}

.image-countainer .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: #B1B3F8;
}

.image-countainer :where(.swiper-button-prev, .swiper-button-next) {
    color: #6355F1;
    margin-top: -35px;
    transition: all 0.3s ease ;
}

.image-countainer :where(.swiper-button-prev, .swiper-button-next):hover  {
    color: #6355F1;
}

.image-countainer .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #6355F1;
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 5s linear forwards;
}

.boite:hover .image-countainer .swiper-pagination-bullet-active::before {
    animation-play-state: paused;
}

@keyframes autoplay-loading {
    100% {
        transform: scaleX(1);
    }
}

@media (max-width : 800px) {
    .image-countainer {
        margin: 0 10px 25px;
    }

    .image-countainer :where(.swiper-button-prev, .swiper-button-next)  {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
  .haut {
    margin-top: 10vw;
  }

  .card {
    width: 24vw;
    font-size: 2vw;
}

.card img {
    width: 22vw;
    height: auto;
}
}

@media screen and (max-width: 400px) {
    .haut {
        margin-top: 15vw;
    }

    .card {
        width: 35vw;
        font-size: 2.5vw;
    }

    .card img {
        width: 33vw;
        height: auto;
    }

    .elements { 
        gap: 4vw;
    }
}

/* Animation chargement  */
.countainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    transition: visibility 1s ease-in;
}

.countainer span {
    background-image: linear-gradient(#0d24f0, #0d9df0);
    width: 1vw;
    height: 20vw;
    margin: 10px;
    animation: WaveAnimation 1s linear infinite;
    border-radius: 1vw;
}

.countainer span:nth-child(2) {
    animation-delay: 0.1s;
}
.countainer span:nth-child(3) {
    animation-delay: 0.2s;
}
.countainer span:nth-child(4) {
    animation-delay: 0.3s;
}
.countainer span:nth-child(5) {
    animation-delay: 0.4s;
}
.countainer span:nth-child(6) {
    animation-delay: 0.5s;
}
.countainer span:nth-child(7) {
    animation-delay: 0.6s;
}
.countainer span:nth-child(8) {
    animation-delay: 0.7s;
}
.countainer span:nth-child(9) {
    animation-delay: 0.8s;
}
.countainer span:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes WaveAnimation{
    0%{ transform: scale(0) }
    50%{ transform: scale(1) }
    100%{ transform: scale(0) }
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: "montnorm",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
}

.disappear {
    display: none;
}

.appear {
    background: #9494F3;
    color: white;
}


/* Fenêtre noire en plein écran */
.popup {
  display: none; /* caché par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

/* Image dans la popup */
.popup-content {
  /* max-width: 100%;
  max-height: 100%; */
  height: 40vw;
  /* width: 100%; */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width : 800px) {
    .popup-content {
        width: 80vw;
        height: auto;
    }
}

